/* General effect */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #519872;
}

body {
    background-color: #e2dede;
    font-family: 'Source Code Pro', monospace;
}


/* Cenus title and navigation field */

header {
    display: grid;
    color: #519872;
    font-weight: bolder;
    font-size: x-large;
    font-weight: bolder;
    grid-template-columns: 3fr 1fr;
    margin: 2% 5% 2% 10%;
}


/* summing-population for total population for male and female and the country total*/

#summing-population {
    display: grid;
    grid-template-columns: 29% 27% 30%;
    margin-left: 5%;
    gap: 3%;
}

select {
    text-align: center;
    font-size: larger;
    /* border: solid #B1D2C2; */
}

#summing-population>#totalPo,
#female,
#male {
    display: flex;
    border-radius: 5px;
    text-align: left;
    font-size: large;
    padding: 10px;
    color: rgb(26, 25, 25);
}

#summing-population>#male {
    width: 100%;
    gap: 4%;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    background-color: white;
}

#summing-population>#totalPo {
    /* width: 80%; */
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    gap: 4%;
    background-color: white;
}

#summing-population>#female {
    /* width: 80%; */
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    gap: 4%;
    background-color: white;
}


/* Second layout for countyies bar chart and doughnut chart */

#countiesPopu {
    display: grid;
    grid-template-columns: 60% 30%;
    margin-left: 5%;
    margin-bottom: 2%;
    gap: 2%;
}

#countyByDis {
    position: relative;
    display: grid;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    background-color: white;
    width: 100%;
    padding: 3% 0% 0% 5%;
}

.bar-cha {
    position: relative;
    width: 50vw;
    height: 55vh;
}

#doughnutChart {
    position: relative;
    background-color: #376e51;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    width: 100%;
    padding-top: 50px;
    border-radius: 5px;
}


/* Third layout for district population bar chart */

#distrByDis {
    position: relative;
    display: grid;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    background-color: white;
    margin-left: 5%;
    border-radius: 5px;
    padding-left: 15px;
    width: 87%;
    padding: 1% 0% 0% 5%;
    height: 460px;
}

.district-chart {
    width: 80vw;
    height: 55vh;
}

em {
    font-size: larger;
}

#distribute-district {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* gap: 20%; */
    padding: 2% 0% 0%;
}


/* Fourth layout for Downlow */

#downloadData {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: center;
    margin-top: 2%;
    padding: 2%;
    background-color: #519874;
    color: white;
    margin-left: 5%;
    border-radius: 5px;
    width: 87.2%;
}

#downloadData>div {
    padding-top: 3%;
    font-size: 25px;
    font-weight: bolder;
}

#arrowTxt {
    display: grid;
    grid-template-columns: 13% 35%;
    background-color: white;
    justify-content: center;
    border-radius: 2%;
    color: #519872;
    margin-left: 25%;
    border-radius: 5px;
    padding: 5% 0%;
    width: 70%;
}

#dwn {
    margin-top: 2.5%;
}

#arrow {
    background-color: #519872;
    height: 35px;
    width: 40px;
    text-align: center;
    margin-left: -30px;
    border-radius: 5px;
}


/* fifth layout for households and highest male and female of counties */

#distrByHou {
    display: grid;
    grid-template-columns: 60% 30%;
    margin-left: 5%;
    margin-top: 1%;
    gap: 2%;
}

#housesText {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* gap: 20%; */
    padding: 2% 0% 0%;
}

#housesData {
    position: relative;
    padding: 3% 0% 0% 5%;
}

#distrByHou>#housesData,
#mostPopCoun {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    width: 100%;
    height: 510px;
}

.houses-chart {
    position: relative;
    margin: -5% 2% 2% 2%;
    width: 95%;
    border-radius: 5px;
    /* height: 300px; */
}

#mostPopCoun {
    padding: 5% 0% 0% 5%;
    text-align: left;
}


/* Table for highest male and female of counties */

#table-head {
    background-color: #519872;
    text-align: center;
    color: white;
}

tbody {
    border: 1px solid #519872;
    border-bottom: 2px groove rgb(4, 101, 121);
}

table {
    position: relative;
}

table,
tbody,
tr,
th {
    padding: 1em;
    border-collapse: collapse;
}

@media (max-width: 720px) {
    body {
        display: block;
    }
    b {
        font-size: 12;
    }
}