* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #519872;
}

body {
    background-color: #e2dede;
    font-family: 'Source Code Pro', monospace;
}

header {
    display: grid;
    color: #519872;
    font-weight: bolder;
    font-size: x-large;
    font-weight: bolder;
    grid-template-columns: 3fr 1fr;
    margin: 2% 5% 2% 10%;
}

#gridData {
    display: grid;
    grid-template-columns: 29% 27% 30%;
    margin-left: 5%;
    gap: 3.5%;
}

#gridData>#totalPo,
#female,
#male {
    display: flex;
    border-radius: 2%;
    text-align: left;
    font-size: large;
    padding: 10px;
    color: rgb(26, 25, 25);
}

#gridData>#male {
    width: 100%;
    gap: 4%;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    background-color: white;
}

#gridData>#totalPo {
    /* width: 80%; */
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    gap: 4%;
    background-color: white;
}

#gridData>#female {
    /* width: 80%; */
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    gap: 4%;
    background-color: white;
}

#countiesPopu {
    display: grid;
    grid-template-columns: 60% 30%;
    margin-left: 5%;
    gap: 2%;
}

#countiesPopu>.bar-cha,
#doughnutChart {
    background-color: white;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    width: 100%;
    border-radius: 2%;
    height: 400px;
}

#doughnutChart {
    background-color: #519872;
    padding-top: 50px;
}

#distrByDis {
    /* display: flex; */
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    background-color: white;
    margin-left: 5%;
    border-radius: 2%;
    margin-top: 2%;
    width: 85%;
    height: 400px;
}

#distribute-district {
    display: grid;
    grid-template-columns: 70% 20%;
    margin-left: 5%;
    padding-top: 5%;
    width: 100%;
}

#downloadData {
    display: flex;
    background-color: #519872;
    margin-left: 5%;
    margin-top: 2%;
    color: bisque;
    padding: 2% 4% 4% 4%;
    border-radius: 2%;
    width: 87.2%;
    height: 60px;
}

#downloadData>div {
    font-size: 25px;
    font-weight: bolder;
}

#arrowTxt {
    display: flex;
    background-color: white;
    text-align: center;
    border-radius: 2%;
    color: #519872;
    gap: 10%;
    margin: -1% auto 0% 40%;
    padding: 1% 2% 4% 1%;
    height: 80%;
}

#arrow {
    background-color: #519872;
    height: 30px;
    width: 40px;
    /* padding: 2px; */
    /* margin-top: -15%; */
    border-radius: 10%;
}

#distrByHou {
    display: grid;
    grid-template-columns: 60% 30%;
    margin-left: 5%;
    margin-top: 2%;
    gap: 2%;
}

#distrByHou>#housesData,
#mostPopCoun {
    background-color: white;
    border-radius: 2%;
    box-shadow: 2px 3px rgba(173, 171, 171, 0.533);
    width: 100%;
    height: 400px;
}

.district-chart {
    position: relative;
    margin: -4% 2% 2% 2%;
    width: 45vw;
    /* height: 100px; */
}

.houses-chart {
    position: relative;
    margin: -4% 2% 2% 2%;
    width: 95%;
    border-radius: 2%;
    /* height: 300px; */
}

@media (max-width:400px) {
    #arrowTxt {
        display: flex;
        background-color: white;
        text-align: center;
        border-radius: 5%;
        color: #519872;
        margin: 0;
        padding: 1% 2% 19% 2%;
        height: 80%;
    }
}